@import 'main';

.mainWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  background-color: $color-secondary-main;

  section {
    margin: 72px 0px 88px 0px;
    padding: 16px 8px;
    height: 100%;
    flex-grow: 1;

    @media (max-height: 600px) {
      margin: 16px 0px;
    }

    @media (max-width: 720px) {
      padding: 0 8px;
    }
    @media (min-width: 721px) {
      padding: 0 16px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
