@import 'main';

.wrapper {
  height: 48px;
  width: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  background-color: none;
  border-top: 4px solid transparent;
  border-left: 4px solid $color-secondary-light;
  border-right: 4px solid $color-secondary-light;
  border-bottom: 4px solid $color-secondary-light;
  transform: rotate(45deg);
}
