// Colors
// --------
// Primary
// $color-primary-dark: #00857c;
// $color-primary-main: #4bb5ab;
// $color-primary-light: #80e8dd;
// $color-primary-text: black;
//
// // Secondary
// $color-secondary-dark: #bdb9b7;
// $color-secondary-main: #efebe9;
// $color-secondary-light: #ffffff;
// $color-secondary-text: black;
//
// $color-shadow: rgba(0, 0, 0, 0.33);

$color-primary-dark: #b4004e;
$color-primary-main: #ec407a;
$color-primary-light: #ff77a9;
$color-primary-text: black;

// Secondary
// $color-secondary-dark: #8c7b75;
// $color-secondary-main: #bcaaa4;
// $color-secondary-light: #efdcd5;
// $color-secondary-text: black;

$color-secondary-dark: #bdb9b7;
$color-secondary-main: #efebe9;
$color-secondary-light: #ffffff;
$color-secondary-text: black;
$color-shadow: rgba(0, 0, 0, 0.33);
