// Colors
// --------
// Primary
$color-primary-dark: #00857c;
$color-primary-main: #4bb5ab;
$color-primary-light: #80e8dd;
$color-primary-text: black;

// Secondary
$color-secondary-dark: #bdb9b7;
$color-secondary-main: #efebe9;
$color-secondary-light: #ffffff;
$color-secondary-text: black;
