@import '../main';

.snackbar {
  @media (min-height: 600px) {
    position: fixed;
  }
  @media (max-height: 599px) {
    position: absolute;
  }
  width: calc(100vw - 32px);
  height: 72px;
  border-radius: 4px;
  color: white;
  font-family: 'Roboto';
  padding: 8px;
  margin: 0px 16px;

  background-color: rgba(0, 0, 0, 0.66);
  line-height: 1.2em;

  h6 {
    font-size: 1em;
    font-weight: bold;
    color: $color-primary-light;
  }

  p {
    padding-top: 4px;
    font-size: 0.9em;
  }
}

.hide {
  opacity: 0;
  bottom: 0px;
  transition: all 1s ease-in-out;
}

.show {
  opacity: 1;
  bottom: 88px;
  transition: all 0.6s ease-in-out;
}
